<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/common::head}"></head>

<body>
    <header th:replace="~{fragments/common::nav}"></header>

    <h1>
        Добави
    </h1>

    <div style="margin-left: 20px;" th:if="${error}" class="text-danger">
        Събитието не може да бъде добавено!
    </div>

    <form class="add-box-shadow" th:object="${competitionAddBindingModel}" th:method="POST" th:action="@{/add-competition}" enctype="multipart/form-data">
        <label>Име на събитието:</label>
        <input th:field="*{name}" type="text" id="name" name="name" th:errorclass="bg-danger">
        <br th:if="${#fields.hasErrors('name')}">
        <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Username error message</small>

        <label>Описание:</label>
        <input th:field="*{description}" type="text" id="description" name="description" th:errorclass="bg-danger">
        <br th:if="${#fields.hasErrors('description')}">
        <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Username error message</small>

        <label>Линк:</label>
        <input th:field="*{link}" type="text" id="link" name="link" th:errorclass="bg-danger">
        <br th:if="${#fields.hasErrors('link')}">
        <small th:if="${#fields.hasErrors('link')}" th:errors="*{link}" class="text-danger">Username error message</small>

        <label>Дата: </label>
        <input th:field="*{date}" type="datetime-local" id="date" name="date" th:errorclass="bg-danger">
        <br th:if="${#fields.hasErrors('date')}">
        <small th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="text-danger">Username error message</small>

        <label>Изображение: </label>
        <input th:field="*{filename}" type="file" id="myFile" name="filename" th:errorclass="bg-danger">
        <br th:if="${#fields.hasErrors('filename')}">
        <small th:if="${#fields.hasErrors('filename')}" th:errors="*{filename}" class="text-danger">Username error message</small>

        <label>Място на провеждане: </label>
        <input th:field="*{location}" type="text" id="text" name="location" th:errorclass="bg-danger">
        <br th:if="${#fields.hasErrors('location')}">
        <small th:if="${#fields.hasErrors('location')}" th:errors="*{location}" class="text-danger">Username error message</small>

        <label>Категория:</label>
        <select th:field="*{category}" id="category" name="category" th:errorclass="bg-danger">
            <option th:each="category : ${categories}" th:value="${category.name}"><span th:text="${category.name}"></span></option>
        </select>
        <br th:if="${#fields.hasErrors('category')}">
        <small th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger">Username error message</small>

        <label>Вид:</label>
        <select name="type">
            <option value="COMPETITION">Състезание</option>
            <option value="CONCOURSE">Конкурс</option>
            <option value="OLYMPIAD">Олимпиада</option>
        </select>
        <br th:if="${#fields.hasErrors('type')}">
        <small th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="text-danger">Username error message</small>

        <!-- <br th:if="${#fields.hasErrors('category')}"> -->
        <!-- <small th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger">Username error message</small> -->

        <input type="submit" value="Добави!" class="btn">
    </form>
</body>

</html>