<!DOCTYPE html>
<html lang="en" style="height: 94%;">

<head th:replace="~{fragments/common::head}"></head>

<body style="height: 94%;">
    <div class="all-content" style="margin-bottom: -20px;">
        <header th:replace="~{fragments/common::nav}"></header>
        <link rel="stylesheet" href="/css/index-home.css"/>

        <div class="banner-img" style="background-image: url(img/home_bg2.jpg); height: 400px; background-position-y: -400px;"></div>

        <div class="center" style="margin-top: -40px;">
            <a th:href="@{/browse-competitions(id=-1)}"><input type="button" value="Състезания" class="btn menu-box home-btn"></a>
            <a th:href="@{/browse-concourses(id=-1)}"><input type="button" value="Конкурси" class="btn menu-box home-btn"></a>
            <a th:href="@{/browse-olympiads(id=-1)}"><input type="button" value="Олимпиади" class="btn menu-box home-btn"></a>
            <a th:href="@{/browse-jobs}"><input type="button" value="Стажове" class="btn menu-box home-btn"></a>
            <a th:href="@{/browse-news}"><input type="button" value="Новини" class="btn menu-box home-btn"></a>
        </div>

        <h1>
            Новини
        </h1>

        <div style="visibility: hidden;" id="page-display">
            <div class="dark-overlay">
                <h1 class="h1-close-btn-parent">
                    <a id="close-btn" href="#">❎Close</a>
                </h1>
            </div>
            <iframe id="frame"
                
                th:src="@{/news-info-min/2}"></iframe>
        </div>

        <div style="visibility: hidden;" id="page-display2">
            <div class="dark-overlay">
                <h1 class="h1-close-btn-parent">
                    <a id="close-btn2" href="#">❎Close</a>
                </h1>
            </div>
            <iframe id="frame-review" class="frame-box" th:src="@{/review}"></iframe>
        </div>

        <div class="news-container">
            <div th:each="currNews : ${news}">
                <div class="competition-listing" style="flex-direction: column; height: 100%;">
                    <div class="container-image" style="width: 100%; height: 100%; border-radius: 20px;">
                        <img th:src="@{/api/news/image(id=${currNews.id})}" style="border-radius: 20px;" alt="Image">
                    </div>

                    <div class="listing-content" style="width: 100%;">
                        <h1>
                            <a class="news-link" th:id="${currNews.id}" href="javascript:void(0)"><span
                                    th:text="${currNews.title}"></span></a>
                        </h1>
                        <p>
                            добавено от <span th:text="${currNews.addedBy.username}"></span>
                            <a th:if="${@loggedUser.logged and @loggedUser.username!=currNews.addedBy.username}"
                                th:href="@{/follow/{username}(username=${currNews.addedBy.username})}"
                                class="follow-btn">Последвай</a>
                        </p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
    </div>

    <footer th:replace="~{fragments/common::footer}"></footer>
</body>

</html>