<!DOCTYPE html>
<html style="height: 94%" lang="en">

<head th:replace="~{fragments/common::head}"></head>

<head>
    <link rel="stylesheet" href="/css/index-home.css"/>
    <script>
        var emojis = ["🧬", "🔭", "🎓", "📓", "🥇", "📷", "💻", "🎬", "🎻"];
        var index = 0;
        var elem = document.getElementById("emoji");

        window.addEventListener('load', function () {
            elem = document.getElementById("emoji")
            setInterval(swap, 3000);
        });

        function swap() {
            index ++;
            elem.innerHTML = emojis[index];
            if(index >= emojis.length - 1) index = -1;
        }
    </script>
</head>

<body style="height: 85%">
    <div class="all-content">
        <div class="video-parent">
            <video playsinline autoplay muted nocontrols loop>
                <source src="video/Find.mp4" type="video/mp4">
            </video>
        </div>
        <header th:replace="~{fragments/common::nav}"></header>
        <div style="margin-top: 100px;">
            <div class="container">
                <div>
                    <h1 style="padding: 20px; font-size: 60px; margin-top: -60px;">
                        Добре дошли във FindOpp!
                    </h1>

                    <p style="margin-top: -60px;">
                        <h2>Ако си ученик в гимназия или средно училище, ти си истински късметлия!</h2>
                        Сега е страхотното време, в което можеш да учиш във всяка точка на света, да вземаш безплатни курсове в университети от Бръшляновата лига, да предизвикваш себе си в състезания, да развиваш умения, докато се готвиш за конкурс или олимпиада, да работиш в престижна компания и да се учиш от вдъхновяващи ментори, докато си на стаж.
                        Извън училище има много повече възможности, отколкото предполагаш. 
                        <h2>Намери ги!</h2>

                        <a style="padding: 0px; color: blue;" th:href="@{/login}">Вход</a> ако имате акаунт или <a
                            style="padding: 0px; color: blue;" th:href="@{/register}">Регистрация</a>.
                    </p>
                </div>
                <div id="emoji" class="mobile-hide icon">
                    🧬
                </div>
            </div>
        </div>

        <div class="banner-img mobile-hide" style="background-image: url(img/group.jpg); background-attachment: fixed;"></div>
        
        </div>

        <div class="center box-container">
            <a th:href="@{/browse-competitions(id=-1)}"><input type="button" value="Състезания" class="btn menu-box home-btn"></a>
            <a th:href="@{/browse-concourses(id=-1)}"><input type="button" value="Конкурси" class="btn menu-box home-btn"></a>
            <a th:href="@{/browse-olympiads(id=-1)}"><input type="button" value="Олимпиади" class="btn menu-box home-btn"></a>
            <a th:href="@{/browse-jobs}"><input type="button" value="Стажове" class="btn menu-box home-btn"></a>
            <a th:href="@{/browse-news}"><input type="button" value="Новини" class="btn menu-box home-btn"></a>
        </div>

        <div class="banner-img" style="background-image: url(img/1.jpg); background-position-y: -500px; background-attachment: fixed;"></div>

        <div class="info-container">
            <h1>Как да използваш</h1>
            
            <p>
                Търси и намери страхотни възможности, които са интересни за теб!<br>
                Някои ще бъдат нови и неочаквани.<br>
                Други ще са в познатата област, в която обичайно се състезаваш.<br>
                Трети ще ти дадат идеи за обучения. Ще се изненадаш, че можеш да учиш толкова много извън училище и да ти е толкова интересно, забавно и полезно.<br>
                Ученическите стажове в някои гимназии са задължителни. Но как да си намерите най-подходящия за вас стаж? Потърсете го!<br>
                Струва ти се невъзможно да започнеш работа в област, която ти е интересна и си напред с материала? Всичко изглежда невъзможно докато не го направиш. Потърси твоята възможност тук.<br>
            </p>
        </div>

        <div class="banner-img" style="background-image: url(img/2.jpg); background-attachment: fixed;"></div>

        <div class="login-type-container" style="display: flex; justify-content: space-around;">
            <div class="login-type-pane">
                <h1>Създай профил като ученик</h1>
                <div class="profile-type-parent">
                    🚀 Профилът не е задължителен. Но ако имаш профил, можеш да получаваш известия за обяви, по зададените от теб критерии. Ако ти хареса, може да се регистрираш като партньор и сам да публикуваш обяви, ако предлагаш безплатно обучение, менторство за ученици или търсиш с кого да работиш по проект.
                    <br>
                    <br>
                    🚀 Работата по проекти ще ти даде мотивация да учиш непрекъснато, да надграждаш и правиш, да постигаш, да спазваш срокове, да развиваш креативността си, да работиш в екип, да приемаш критика, да мислиш критично.
                    <br>
                    <br>
                    🚀 Ако имаш профил, можеш да оценяваш обявите и възможностите. Това ще мотивира институциите и компаниите, ще насочва интереса на другите търсещи ученици.
                    <br>
                    <br>
                    🚀 Помогни ни да развием платформата, а ние ще ти помогнем да развие талантите си!
                </div>
                <img src="img/login_type_student.png" class="login-type-image">
            </div>
            <div class="login-type-pane">
                <h1>Създай профил като партньор</h1>
                <div class="profile-type-parent">
                    🚀 Профилът за институциите и компаниите, които ще публикуват обяви е задължителен. Той ви дава достъп до платформата, за да качвате и управлявате своите обяви.
                    <br>
                    <br>
                    🚀 Помогнете ни да съберем на едно място възможности за ученици, които търсят, а не чакат изяви. Създайте проекти за ученици, които ще използвате във ваши реални казуси или дейности.
                    <br>
                    <br>
                    🚀 Създайте нещо, за което не сме чували. Дайте им възможност през лятото за седмица, две или повече да имат едно различно преживяване, с което ще натрупат нови знания, умения, опит и самочувствие. Наградете старанието и, оценете усилията им. Насърчете ги да си поставят дългосрочни цели.
                    <br>
                    <br>
                    🚀 Помогнете ни да развием платформата, а ние ще ви помогнем да откриете таланти!
                </div>
                <br>
                <img src="img/login_type_partner.png" class="login-type-image">
            </div>
        </div>

        <div class="banner-img mobile-hide" style="background-image: url(img/3.jpg); background-attachment: fixed; height: 700px;"></div>
    </div>

    <footer th:replace="~{fragments/common::footer}"></footer>
</body>

</html>