<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/common::head}"></head>

<body>
    <div class="info-image">
        <img th:src="@{/api/news/image(id=${news.id})}" alt="Image">
    </div>

    <div class="competition-card">
        <h1>
            <span th:text="${news.title}"></span>
        </h1>

        <p>
            <span th:text="${news.description}"></span>
        </p>

        <p>
            <a th:href="${news.link}" target="_blank" style="color: blue; text-decoration: underline;">Повече информация</a>
        </p>
    </div>
</body>

</html>