<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/common::head}"></head>

<body>
    <header th:replace="~{fragments/common::nav}"></header>
    <link rel="stylesheet" href="/css/register.css"/>

    <div class="form-div">
        <div class="form-content">
            <h1>
                Регистрация
            </h1>

            <div class="form-container">
                <div th:if="${error}" class="text-danger">
                    Регистрация неуспешна
                </div>
                
                <form th:object="${userRegisterBindingModel}" th:method="POST" th:action="@{/register}" class="form-4">
                    <label>Име на потребителя:</label>
                    <input th:field="*{username}" type="text" name="username" th:errorclass="bg-danger">
                    <br th:if="${#fields.hasErrors('username')}">
                    <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">Username error message</small>

                    <label>Имейл:</label>
                    <input th:field="*{email}" type="email" name="email" th:errorclass="bg-danger">
                    <br th:if="${#fields.hasErrors('email')}">
                    <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Email error message</small>

                    <label>Първо име:</label>
                    <input th:field="*{firstName}" type="text" name="username" th:errorclass="bg-danger">
                    <br th:if="${#fields.hasErrors('firstName')}">
                    <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger">firstName error message</small>

                    <label>Фамилно име:</label>
                    <input th:field="*{lastName}" type="text" name="username" th:errorclass="bg-danger">
                    <br th:if="${#fields.hasErrors('lastName')}">
                    <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger">lastName error message</small>

                    <label>Парола:</label>
                    <input th:field="*{password}" type="password" name="password" th:errorclass="bg-danger">
                    <br th:if="${#fields.hasErrors('password')}">
                    <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Password error message</small>

                    <label>Повторете паролата:</label>
                    <input th:field="*{repeat}" type="password" name="repeat" th:errorclass="bg-danger">
                    <br th:if="${#fields.hasErrors('repeat')}">
                    <small th:if="${#fields.hasErrors('repeat')}" th:errors="*{repeat}" class="text-danger">Repeat error message</small>

                    <label>Изберете роля:</label>
                    <select id="role" name="role">
                        <option value="USER">Ученик</option>
                        <option value="HOST">Партньор</option>
                    </select>

                    <input type="submit" value="Регистрация" class="btn">
                </form>
            </div>
        </div>

        <div class="img-container">
            <img id="img" src="img/register.jpg">
        </div>
    </div>

    <footer th:replace="~{fragments/common::footer}"></footer>
</body>

</html>